<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AmbigQA Annotation Interface</title>
    <link rel="stylesheet" href="../static/styles/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../static/styles/pretty-checkbox.min.css">
    <link rel="stylesheet" href="../static/styles/index.css">
  </head>
  <body>
    <p id="taskKey" style="display: none" value='"validation"'></p>
    <p id="prompt"
       style="display: none"
       value='{"generationPrompt": {"id": "id", "question": "who tried to kill rachel in the bodyguard"},
       "unionAnnotation":
       {"type": "multipleQAs", "qaPairs": [
        {"question": "Who hired the hitman who tried to kill rachel in the bodyguard?",
        "answer": "Nicki | Nicki Marron"},
        {"question": "Who is the hitman who tried to kill rachel in the bodyguard?",
        "answer": "Portman | Greg Portman"}]},
       "annotations": [
       {"type": "multipleQAs", "qaPairs": [
        {"question": "Who hired the hitman who tried to kill rachel in the bodyguard?",
        "answer": "Nicki | Nicki Marron"},
        {"question": "Who is the hitman who tried to kill rachel in the bodyguard?",
        "answer": "Portman | Greg Portman"}]},
        {"type": "singleAnswer", "answer": "Nicki"}
       ]}'></p>


    <div id="taskContent"></div>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="../static/jsdeps.js"></script>
    <script src="../static/out.js"></script>
  </body>
</html>


